/* BEGIN COLOR & FONT */

:root {
	--custom-dark-green: #264653;
	--custom-light-green: #2a9d8f;
	--custom-yellow: #e9c46a;
	--custom-orange: #f4a261;
	--custom-red: #e76f51;
	--custom-light: #fefae0;
}

#header-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 10vim;
	color: #fefae0;
	text-transform: capitalize;
	text-shadow: 3px 3px 3px #222;
	margin-top: 1.0;
	margin-bottom: 1.0;
	line-height: 1.0;
}


/* END COLOR & FONT */


/* BEGIN OVERALL */

body {
	background: #264653;
}

#header-nav {
	/*background-color: var(--custom-yellow);*/
	background-color: #48cae4;
	border-radius: 0;
	border: 0;
}

/* END OVERALL */


/* BEGIN HEADER */

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #264653;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -65px;
}

.navbar-brand { /* adjusts header section, outer container fits. */
	height: 100px;
}

.navbar-collapse {
	border: 0;
}
#nav-list {
	margin-top: 0;
	margin-bottom: 0;
	border-top: 0;
	padding: 0;
	height: fit-content; /* dropdown bars fit perfectly with navlist */
}
#nav-list span {
	color: #264653;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #264653;
}
#nav-list span:hover {
	background: var(--custom-yellow);
	color: #fefae0;
}
#nav-list li:nth-child(1) > span{
	border-top: 1px solid #264653;
}

/* END HEADER */


/* BEGIN HOMEPAGE */

#menu {
	width: 98%;
}

#menu-title {
	font-family: cursive;
	font-size: 40px;
	text-align: center;
	color: #fefae0;
	text-shadow: 3px 3px 3px #222;
	margin-bottom: 30px;
}

#menu-tiles {
	background: var(--custom-yellow);
}
#menu-tiles div {
	height: 800px;
	margin: 0;
	border: 10px solid #264653;
	overflow: scroll;
}
#menu-tiles h2 {
	font-family: cursive;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

#menu-tiles p.menu-para {
	font-family: fantasy;
	font-size: 20px;
}

#chicken-tile {
	background: #ee9b00;
}
#chicken-tile > h2 {
	color: #c1121f;
}
#chicken-tile > p {
	color: black;
}

#beef-tile {
	background: #c1121f;
}
#beef-tile > h2 {
	color: #ee9b00;
}
#beef-tile > p {
	color: #fefae0;
}

#sushi-tile {
	background: #a7c957;
}
#sushi-tile > h2 {
	color: black;
}
#sushi-tile > p {
	color: #264653;
}





/* END HOMEPAGE */


/* BEGIN SCREEN-SIZE PARAMS */

/* Large */
@media (min-width: 1170px) {

}

/* Medium */
@media (min-width: 970px) and (max-width: 1169px) {

}

/* Small */
@media (min-width: 750px) and (max-width: 969px) {

}

/* Ex-Small */
@media (min-width: 400px) and (max-width: 750px) {

}

/* XX-Small */
@media (max-width 399px) {

}




/* END SCREEN-SIZE PARAMS */




























